        p {
            font-family: Serif;
        }
        h1 {
            font-family: sans-serif;
        }
        h4 {
            font-family: sans-serif;
            text-align: left;
        }
        a {
            color: darkgreen;
        }
        del {
            color: grey;
        }
        mark {
            color: darkblue;
            background-color: pink;
        }
        pre {
            font-family: monospace;
        }