        p {
            font-family: Serif;
        }
        h1 {
            font-family: sans-serif;
        }
        h4 {
            font-family: sans-serif;
            text-align: left;
        }
        a {
            color: darkgreen;
        }
        del {
            color: grey;
        }
        mark {
            color: darkblue;
            background-color: pink;
        }
        .task2-2 {
            font-family: monospace;
        }
        h3 {
            color: rgba(0, 0, 139, 0.8);
        }
        .transparent-text {
            color: rgba(0, 0, 0, 0.5);
        }
       body {
            background-color: #DCF5F5;
            background-image: url(https://myuni.adelaide.edu.au/courses/64700/files/8436901/download?wrap=1);
        }