        p {
            font-family: Serif;
        }
        h1 {
            font-family: sans-serif;
        }
        h4 {
            font-family: sans-serif;
            text-align: left;
        }
        a {
            color: darkgreen;
        }
        del {
            color: grey;
        }
        mark {
            color: darkblue;
            background-color: pink;
        }
        .task2-2 {
            font-family: monospace;
        }
        h3 {
            color: rgba(0, 0, 139, 0.8);
        }
        .pre2-3 {
            color: rgba(0, 0, 0, 0.5);
        }